<ion-modal-view style="background-color:rgba(40, 30, 30, 0.08)">

  <ion-header-bar style="background-color: #111;">
    
 <button ng-click="Undo()" class=" button button-positive button-icon icon ion-reply"></button>


   <!--<center> <font class="title" style="color: white">DRAW</font></center>-->
   <button ng-click="Redo()" style="text-align:right" class=" button button-positive button-icon icon ion-forward"></button>    



  </ion-header-bar>
  <ion-content>
  <canvas id="c"  ng-style="canvas"  width="360" height="370" style="border:1px solid #ccc"></canvas>
  

<!--   DRAW OR DRAG   -->
 
 

 <div class="row">


  <!-- COl -->
  <div class="col">
<div class="row">
  <label class="toggle">
   <input type="checkbox" ng-model="data.draw" ng-click="mode()">
   <div class="track">
     <div class="handle"></div>
   </div>
</label>
 DRAW 
</div>
<div class="row" style="margin: 0">
  <label class="toggle toggle-positive">
   <input type="checkbox" ng-model="data.drawcircle" ng-click="mode();">
   <div class="track">
     <div class="handle"></div>
   </div>
</label>
  DRAW</br> CIRCLE
</div>

<div class="row"><input type="color" id="myColorbg" onchange="changecolorbg()" style="margin-left:2px " >Background
</div>
<input type="color" ng-if="data.draw" id="myColor" onchange="changecolor()" style="margin-left:7px " >



</div>
<!-- COl -->
<div class="col">
<div class="row" style="margin: 0">
  <label class="toggle toggle-calm">
   <input type="checkbox" ng-model="data.drawline" ng-click="mode()">
   <div class="track">
     <div class="handle"></div>
   </div>
</label>
 DRAW LINE
</div>
 <a style="bottom: 5px; left: 5px" class="button button-icon icon ion-edit" ng-click="Addtext()">A</a>
</div>
<!-- COl -->
<div class="col">
<div class="row" style="margin: 0">
  <label class="toggle toggle-positive">
   <input type="checkbox" ng-model="data.ruler" ng-click="ruler();setzoom(data.zoom)">
   <div class="track">
     <div class="handle"></div>
   </div>
</label>
  RULER

</div>
<div class="row" style="margin: 0" >
  <label class="toggle toggle-positive">
   <input type="checkbox" ng-model="data.arrow"  ng-click="mode()">
   <div class="track">
     <div class="handle"></div>
   </div>
</label>
  ARROW

</div>
<div class="row" style="margin: 0" ng-if="data.drawline">
  <label class="toggle toggle-positive">
   <input type="checkbox" ng-model="data.hide"  ng-click="mode()">
   <div class="track">
     <div class="handle"></div>
   </div>
</label>
  HIDE

</div>
   <div ng-if="data.ruler" class="range hoverWrapper" ng-if="data.ruler" >
    <input type="range"  ng-model="data.zoom" ng-style="stylecolorzoom" ng-change="setzoom(data.zoom);setzoomobject(data.zoom)"  min="{{zoomless}}"  max="{{zoommax}}">
 
</div>
</div>

</div>  






  <div class="row" style="height: 53px;" >
  <a class="button button-icon icon ion-trash-a col" ng-click="clear()"></a>
 <!-- <a class="button button-outline button-balanced" ng-click="saveImg()">save</br>img</a> -->

 <a class="button button-icon icon ion-android-download ion-ios7-download col" ng-click="saveJson()"></a>
  <!--<a class="button button-outline button-balanced" ng-click="loadJson()">load</br>json</a>-->

  <button class="button button-icon icon ion-upload col"  file-browser> 
  <button class="button button-icon  icon ion-image col"  file-browserbg> 
 
  </div>

 <div class="range brushlevel" ng-if="data.draw">
    <input  ng-style="stylecolor"  type="range"   ng-change="setlevel(value)"  ng-model="value" min="{{min}}"  max="{{max}}"> 
   

  </div>


  
  </ion-content>
</ion-modal-view>
