/* Empty. Add your own CSS if you like */
@media screen and (orientation:landscape) {
    canvas {
        top: 100px !important;
        width: 170% !important;
        height: 160% !important;
    }


    div.edit {
        position: absolute;
        width: 270px !important;
        height: 35px !important;
        top: -5px;
        left: -10px;
        margin-top: 0px;
    }

    div.editsquare {
        overflow: auto;
        position: absolute;
        width: 360px;
        height: 100px;
        top: 0px;
        left: 250px;
        background: rgba(0, 0, 0, 0.2);
    }

    div.option {
        display: block;
        position: absolute;
        width: 20px;
        height: 30px;
        top: 70px;
        left: 0;
        background: rgba(0, 0, 0, 0.07);
    }

    a.itext {
        display: block;
        position: absolute;
        width: 360px;
        height: 46px;
        top: 100px;
        left: 0px;
        background: rgba(0, 0, 0, 0.2);
    }

    a.itext-show-hide.ng-hide-remove {
        transform: rotateX(90deg);
        transform-origin: top;
        transition: all 0.5s ease;
    }

    a.itext-show-hide.ng-hide-remove.ng-hide-remove-active {
        transform: rotateY(0);
    }

    ion-list.object {
        overflow: auto;
        display: block;
        position: absolute;
        width: 400px;
        height: 150px;
        top: 73px;
        left: 0;
        background: rgba(0, 0, 0, 0.2);
    }

    /*  .funky-show-hide.ng-hide-add {
      transform: rotateZ(0);
      transform-origin: right;
      transition: all 0.5s ease-in-out;
      
    }*/
    ion-list.funky-show-hide.ng-hide-remove {
        transform: rotateY(90deg);
        transform-origin: left;
        transition: all 0.5s ease;
    }

    ion-list.funky-show-hide.ng-hide-remove.ng-hide-remove-active {
        transform: rotateY(0);
    }

    div.shape {
        display: block;
        position: absolute;
        top: 100px;
        left: 330px;
        background: rgba(0, 0, 0, 0.2);
    }

    div.shape-show-hide.ng-hide-remove {
        transform: rotateY(90deg);
        transform-origin: bottom;
        transition: all 0.5s ease;
    }

    div.shape-show-hide.ng-hide-remove-active {
        transform: rotateY(0);
    }
    div.zoom {
        display: block;
        position: absolute;
        top: 220px;
        left: 430px;
        background:rgba(255, 255, 255, 0.47)
    }

    div.zoom-show-hide.ng-hide-remove {
        transform: rotateY(90deg);
        transform-origin: bottom;
        transition: all 0.5s ease;
    }

    div.zoom-show-hide.ng-hide-remove-active {
        transform: rotateY(0);
    }

    div.hoverWrapper {
        display: block;
        background-color: #387ef557;
        position: absolute;
        border-radius: 10%;
        left: 430px;
        top: 160px;
    }

    div.brushlevel {
        display: block;
        position: absolute;
        left: 100px;
        top: 70px;
        width: 160px !important;
    }

    ion-header-bar.headerbar  {
        display: none;
    }
      

    ion-content.has-header {
        top: 0px;
    }
    button.undo{
        display: block;
        position: absolute;
        left: 30px;
        top: 50px;
       background: rgba(0, 0, 0, 0.2) !important;
    }
    button.redo{
         display: block;
        position: absolute;
        left: 70px;
        top: 50px;
        background: rgba(0, 0, 0, 0.2) !important;
    }
    button.buttonzoom{
    display: none;
        }
    div.images{
    display: block;
    position: absolute;
    width: 50px;
    height: 100px;
    top: 160px;
    left: 550px;
}

div.images-show-hide.ng-hide-remove {
    transform: rotateX(90deg);
    transform-origin: top;
    transition: all 0.5s ease;
}

div.images-show-hide.ng-hide-remove.ng-hide-remove-active {
    transform: rotateY(0);
}
button.pass{
    display: block;
}
div.opacitylevel {
    display: : block; 
    position: absolute;
    left: 100px;
    top: 35px;
    height: 40px !important;
    width: 100px;
}
button.dashed{
    display: block;
}
div.sizebrush{
     display: none;
}
div.maxsizebrush{
     display: none;
}
div.opanlevel{
     display: none;
}
div.maxopanlevel{
     display: none;
}
.note{  
    display: none;

}
    ::-webkit-scrollbar {
         resize: both;
        -webkit-appearance: none;
        width: 25px;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 9px;
        background-color: rgba(0, 0, 0, 0.5);
        -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
    }
     
}
/*
.b{
    position: absolute;
     top: 10px;
     height: 10px;
     width: 10px;
     background-color: red;
    transition: height .4s ease-in-out;
    -webkit-transition: height .4s ease-in-out;
    -moz-transition: height .4s ease-in-out;
    } 
.opacitylevel:active+ .b {background-color: blue;height: 100px} 
*/
.quality{
  display: block;
    position: absolute;
    width: 50px;
    height: 140px;
    top: 410px;
    left: 225px;
    background-color: rgba(17, 17, 17, 0.09);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.sizebrush{
     display: block;
     background-color: red;
     position: absolute;
    width: 20px;
    height: 20px;
    top: auto;
    left: 275px;
     border-radius: 100%;
     border-color: white;
     border-style: dotted;
}
.maxsizebrush{
     display: block;
     background-color: transparent;
     position: absolute;
        width: 20px;
    height: 20px;
    top: auto;
    left: 275px;
     border-radius: 100%;
     border-width: 1px;
     border-color: white;
     border-style: solid;
}
.opanlevel{
     display: block;
     background-color: black;
     position: absolute;
     top: 19px;
     left: 162px;
     width: 20px;
     height: 20px;
     border-radius: 100%;
     border-color: white;
     border-style: dotted;
}
.maxopanlevel{
     display: block;
     background-color: transparent;
     position: absolute;
     width: 20px;
     height: 20px;
    top: 19px;
     left: 162px;
     border-radius: 100%;
     border-width: 1px;
     border-color: white;
     border-style: solid;
}
.dashed{
    display: none;
}
.note{  
    pointer-events: none;
    position: absolute;
    top: 10px;
    font-size: 10.5px;

}
.edit{
    margin-top: 40px;

}

.editsquare{
    padding-top: 0px;
    padding-bottom: 0px;    
}
.checkmark{

    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    top:0px;
    left:0px;
}
.pass{
    display: none;
}
.inline{
    display: block;
    position: absolute;
    width: 55px;
    height: 2px;
    bottom:0;
    right:0;
    background-color: black;

}
.statecolor{
    display: block;
    position: absolute;
    width: 9px;
    height: 9px;
    bottom:0px;
    right:0px;
    border-radius: 100%;
    background-color: black;

}
.statecolorbg{
    display: block;
    position: absolute;
    width: 9px;
    height: 9px;
    bottom:0;
    right:0;
    border-radius: 100%;
    border-color: 
    background-color: white;

}

.images{
    display: block;
    position: absolute;
    width: 50px;
    height: 140px;
    top: 240px;
    left: 295px;
    background-color: rgba(17, 17, 17, 0.09);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.images-show-hide.ng-hide-remove {
    transform: rotateX(90deg);
    transform-origin: bottom;
    transition: all 0.5s ease;
}

.images-show-hide.ng-hide-remove.ng-hide-remove-active {
    transform: rotateY(0);
}
.zoom{
    display: none;
}
.buttonzoom{
    display: none;
}
.undo{
    display: none;
}
.redo{
    display: none;
}
.imgshape {
    max-width: 30px;
    max-height: 30px;
}

.itext {
    overflow: auto;
    display: block;
    position: absolute;
    width: 360px;
    height: 40px;
    top: 0px;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
}

.itext-show-hide.ng-hide-remove {
    transform: rotateX(90deg);
    transform-origin: top;
    transition: all 0.5s ease;
}

.itext-show-hide.ng-hide-remove.ng-hide-remove-active {
    transform: rotateY(0);
}

.shape {
    display: block;
    position: absolute;
    top: 310px;
    left: 60px;
    background: rgba(0, 0, 0, 0.2);
}

.shape-show-hide.ng-hide-remove {
    transform: rotateY(90deg);
    transform-origin: bottom;
    transition: all 0.5s ease;
}

.shape-show-hide.ng-hide-remove-active {
    transform: rotateY(0);
}

.option {
    display: block;
    position: absolute;
    width: 20px;
    height: 30px;
    top: 340px;
    left: 0;
    background: rgba(0, 0, 0, 0.07);
}

.object {
    overflow: auto;
    display: block;
    position: absolute;
    width: 360px;
    height: 300px;
    top: 30px;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
}

 /* .funky-show-hide.ng-hide-add {
      transform: rotate(0);
      transform-origin: right;
      transition: all 0.5s ease;
      
    }*/
.funky-show-hide.ng-hide-remove {
    transform: rotateX(90deg);
    transform-origin: bottom;
    transition: all 0.5s ease;
}

.funky-show-hide.ng-hide-remove.ng-hide-remove-active {
    transform: rotateY(0);
}

.hoverWrapper {
    display: block;
    background-color: rgba(56, 126, 245, 0.19);
    position: absolute;
    border-radius: 10%;
    left: 0px;
    top: 0px;
}
.rangeruler-in.ng-hide-remove {
    transform: rotateY(90deg);
    transform-origin: top;
    transition: all 0.5s ease;
}

.rangeruler-in.ng-hide-remove.ng-hide-remove-active {
    transform: rotateY(0);
}


.brushlevel {
    display: none;
}
.opacitylevel {
    position: absolute;
    margin-top: 35px;
    height: 30px;
    top:465px; 
   
}

.ruler,

.ruler li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
}

/* IE6-7 Fix */
.ruler,

.ruler li {
    *display: inline;
}

.ruler {
    background: #fff;
    border-radius: 2px;
    color: #8b8b8b;
    margin: 0;
    height: 2em;
    padding-right: 20px;
    white-space: nowrap;
    font-size: 9px;
}

.ruler li {
    padding-left: 30px;
    width: 2em;
    margin: .64em -1em -.64em;
    text-align: center;
    position: relative;
}

.ruler li:before {
    content: '';
    position: absolute;
    border-left: 1px solid #c1bfbf;
    height: .64em;
    top: -.64em;
    right: 1em;
}

s {
    width: 100%;
    position: absolute;
    bottom: 0;
}

img {
    position: relative;
    display: block;
    width: 100px;
}

.a::-webkit-input-placeholder {
    color: #9932CC;
    font-weight: bold;
    font-style: italic;
}

input.a[type=text] {
    background-image: url(../img/chamthan.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: right;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #9932CC;
}

input.a[type=password] {
    background-image: url(../img/chamthan.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: right;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #9932CC;
}

input.a[type=email] {
    background-image: url(../img/chamthan.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: right;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #9932CC;
}

input.b[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #808080;
}

input.b[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #808080;
}

input.b[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #808080;
}

/*-----------------*/
